.gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery--header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.order--btns {
    display: flex;
    gap: 0.5rem;
}

.most--popular-btn {
    background-color: #f5f5f5;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: aquamarine;
    transition: ease-in-out 0.2s;
}

.most--popular-btn:hover {
    background-color: rgb(79, 204, 162);
    color: white;
}

.newest-btn {
    background-color: #f5f5f5;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(23, 244, 248);
    transition: ease-in-out 0.2s;
}

.newest-btn:hover {
    background-color: rgb(21, 206, 209);
    color: white;
}