.comments--section {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.comment--form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment--form {
    padding: 20px 20px 0px 0px;
}

.comment--text {
    color: #4e4e4e;
    font-size: 0.9rem;
}